.app{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: plum;
  background-size: cover;
  background-position: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

form {
  position: relative; /* important for absolute positioning the button */
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}


.closeButton {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ec0606;
  padding: 0;
  margin: 0;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* aligns items to the top */
  white-space: nowrap;
  margin-top: 20px;
  padding: 10px 0;
}

.form-header h1 {
  font-size: 1.5rem;
  margin: 0; /* Ensure the heading doesn't push things vertically */
}

.cancel-button {
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}